/*login page*/
html,body {
			background: #f3f3f3;
			height: 100%;
			min-height: 100%;
            position: relative;
            font-family: 'Open Sans', sans-serif;
		}

		#login-wrapper {
			font-family: 'Open Sans', sans-serif;
		}
        #login-wrapper .left-container{
            background: #23A76D;
            height:100vh;
		
        }
		#login-wrapper .registration-block {
			margin-top: 15px;
        }
        
        /*heading */

        h3.heading {
            font-size: 26px;
            font-weight: bold;
            color: #23A76D;
            text-align: center;
            margin: 16px;
        }

        /*label*/
        .control-label{
            color:#23A76D;
            margin:10px 0;
        }

        .btn{
            border-radius:50px;
            
        }
        .btn-group-lg>.btn, .btn-lg{
            padding:10px 20px;
            min-width: 150px;
        }
        .btn-primary{
            background: #23A76D;
            border-color: #23A76D;
        }
        .btn-primary:focus, .btn-primary:hover{
            color: #fff;
            background-color: #59BE92;
            border-color:#59BE92;
        }
        .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
            color: #fff;
            background-color: #59BE92;
            border-color:#59BE92;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 48px;
            padding: 12px 18px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #c3c3c3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .form-control:focus {
            border-color: #23A76D;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .clear{
            clear: both;
        }
        .margin-top-bottom{
            margin:20px 0
        }